<div class="row">
    <div class="col-md-4">
        <div id="header">
            <h2>Auction Details</h2>
        </div>
    </div>
    <div id="header" class="col-md-2 offset-md-6">
        <button id="btnCancel" (click)="cancel()" class="btn btn-outline-primary">Back</button>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-3">

        <img src="{{auction.imageUrl}}" />

    </div>
    <div class="col-md-6">
        <div class="fine" id="title">
            <h2 id="headerAuctionName">{{auction?.name}}</h2><button id="btnSupplier" (click)="goToRetailer(auction.supplierId)" class="btn btn-outline-success btn-sm">Supplier</button>
            <hr>
        </div>
        <div class="fine" id="description">
            <p>{{auction?.description}}</p>
            <hr>
        </div>
        <div class="fine" id="ends">
            <p>Auction <span class="bolder">Ends</span> {{auction?.endTime | date:'medium'}}</p>
            <hr>
        </div>
        <div class="fine" id="started">
            <p>Auction <span class="bolder">Started</span> {{auction?.startTime | date:'medium'}}</p>
            <hr>
        </div>
        <div class="fine" id="bid">
            <p>Current Highest Bid <span class="bolder">{{highestBid}}</span> kr </p>
            <hr>
        </div>

        <div class="fine" id="placeBid">

            <input id="bidInput" #bid class="form-control mr-sm-2" type="number" min="{{highestBid + 1}}" placeholder="Bid here">
            <span (mouseenter)="mouseoverLogin1=true" (mouseleave)="mouseoverLogin1=false">
            <button [disabled]="!authService.isLoggedIn()" (click)="placeBid(bid.value)" class="btn btn-outline-success">Place Bid</button>
             </span>
            <em *ngIf="!authService.isLoggedIn() &&  mouseoverLogin1 ">Please log in</em>
        </div>
        <hr>
        <div class="fine" id="buyNow">
            <span (mouseenter)="mouseoverLogin2=true" (mouseleave)="mouseoverLogin2=false">    
                <button [disabled]="!authService.isLoggedIn()" (click)="buyNow()" class="btn btn-outline-primary">Buy Now</button>
            </span>
            <label> for <span class="bolder">{{auction.buyNowPrice}}</span> kr</label>

            <em *ngIf="!authService.isLoggedIn() &&  mouseoverLogin2 ">Please log in</em>
        </div>
        <hr>


    </div>
    <div class="col-md-3" id="bidHistory">
        <span class="bolder">Bid History</span>
        <hr>
        <ul id="bidHistoryListUL">
            <li *ngFor="let bid of bids">
               <span class="bolder">{{ bid?.bidPrice }}</span> kr <span>  {{ bid?.dateTime | date:'short' }}</span>  
            </li>
        </ul>
      
    </div>
</div>