<div id="header">
  <h2>Auctions</h2>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form id="formSearchAndCategory" class="form-inline my-2 my-lg-0">
      <input (keyup)="searchAuctions(searchTerm.value)" #searchTerm class="form-control mr-sm-2" type="text" placeholder="Search">
      <!--<button (click)="searchAuctions(searchTerm.value)" class="btn btn-outline-success">Search</button>-->
       <button id="btnShowAll" (click)="getActiveAuctions()" class="btn btn-outline-primary">Show all</button>
        <select id="selectCategory" (change)="filterByCategory()" [(ngModel)]="selectedCategoryId" name="selectedCategoryId" class="form-control">
          <option value=0>Choose a category</option>
          <option *ngFor="let category of categories" value={{category.id}}>
          {{category.name}}
        </option>
       </select>
    </form>
     
  </div>


   
  

</div>
<hr>
<div class="row">
  <div class="list-group col-md-4" *ngFor="let auction of activeAuctions">
    <a id="thumbnailAuction" (click)="goToDetails(auction.id)" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>{{auction?.name}}</h5>
        <small>Ends: {{auction?.endTime  | date}}</small>
      </div>
      <p>{{auction?.description}}</p>
      <small class="text-muted">Buyout: {{auction?.buyNowPrice}}SEK</small>
    </a>
  </div>
</div>